{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Login
{% endblock titulo %}


{% block cabecera %}
    Login
{% endblock cabecera %}


{% block contenido %}
    <br>
    {% if mensaje %}
    <h4>
        <p style="color:aqua" align="center">
        {{ mensaje }}
        </p>
    </h4>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Iniciar Sesión</button>
    </form>
{% endblock contenido %}
    
    
    