{% extends 'aplicacion/base.html' %} 
{% load static %} 

{% block titulo %}
Paciente
{% endblock titulo %} 

{% block cabecera %}
Paciente
{% endblock cabecera %} 

{% block contenido %}
<table>
    <tr>
        <td><h2>paciente: {{object}}</h2></td>
    </tr>
</table>
<form action="" method="post">
  {% csrf_token %}

  {{ form.as_table}}
</form>
<a
href="{% url 'pacientes' %}"
class="btn btn-danger"
style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
><i class="fa fa-share fa-sm" title="List Back">Regresar</i>
</a>
{% endblock contenido %}